.accordion-btn {
  display: block;
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #b5b3b3;
  cursor: pointer;

  &:after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 24px;
    line-height: 24px;
  }

  &+.accordion-body {
    display: none;
  }

  &.open {
    &:after {
      content: '-';
    }

    &+.accordion-body {
      display: block;
    }
  }
}

.Note-item-enter {
  //opacity: 0;
  transform: scaleY(0);
}

.Note-item-enter.Note-item-enter-active {
  //opacity: 1;
  transform: scaleY(0);
  transition: transform 5000ms;
}

.Note-item-leave {
  //opacity: 1;
  transform: scaleY(0);
}

.Note-item-leave.Note-item-leave-active {
  //opacity: 0;
  transform: scaleY(0);
  transition: transform 3000ms;
}